<div class="jumbotron text-center">
  <hi class="display-3">{{title}}</hi>
  <p class="lead">A quick and simple way to book your next flight</p>
  <a href="/book/booknow" class="btn btn-dark btn-lg">Book</a>
</div>