{{> _sidebar}}

<div class="card card-header mb-2">
  <div class="row align-items-center">
    <div class="col-md-5"><b>User Name</b></div>
    <div class="col-md-5"><b>User Email</b></div>
  </div>
</div>

{{#each user}}
<div class="card card-body mb-2">
  <div class="row align-items-center">
    <div class="col-md-5">{{name}}</div>
    <div class="col-md-5">{{email}}</div>
  </div>
</div>

{{else}}
<p>No user found</p>
{{/each}}